@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --primary-color: #010108;
    --header-color: #6B7280;
    --section-color: #F3F4F6;
}

body {
    font-family: 'Roboto Mono', monospace;
}

hr {
    margin: 1.5rem 0rem;
}

/** Containers **/

.clib-container {
    padding: 0rem 1rem;
}

.clib-container-center {
    max-width: 600px;
    margin: auto
}


/** Links **/

.clib-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.clib-link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.clib-link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/** Read about BEM naming convention**/

/** Lists **/

.clib-list {}

.clib-list-non-bullet {
    list-style: none;
}

.clib-list-inline>li {
    display: inline;
    padding: 0rem 0.5rem;
}

/** Navigation **/

.clib-nav {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.clib-nav .clib-nav-logo {
    font-weight: bold;
    font-size: 1.1rem;
}

.clib-nav ul {
    text-align: right;
}

.clib-nav .clib-nav-link {
    color: white;
    text-decoration: none;
}

.clib-nav .clib-nav-link-active {
    font-weight: bold;
    text-decoration: underline;
}

/** Header **/

.clib-header {
    padding: 2rem;
    text-align: center;
}

.clib-header-image {
    display: block;
    margin: auto;
    max-width: 350px;
}

.clib-header-heading {
    font-size: 2.5rem;
    color: var(--header-color);
    word-wrap: normal;
}

/** Sections **/

.clib-section {
    padding: 2rem;
}

.clib-section h1 {
    text-align: center;
}

.clib-section-ow {
    background-color: var(--section-color);
}

/** Footer **/
.clib-footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.clib-footer .clib-footer-link {
    color: white;
}