@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
    --primary-color: #010108;

}

body {
    font-family: 'Roboto Mono', monospace;
}

/** Containers **/

.clib-container {
    padding: 0rem 1rem;
}

.clib-container-center {
    max-width: 600px;
    margin: auto
}


/** Links **/

.clib-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.clib-link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.clib-link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}