<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Library | Preethi Pattabiraman</title>
    <link rel="stylesheet" href="../styles.css" />
    <link rel="icon" href="../images/favicon.ico" />
</head>

<body>
    <h1>Custom Component library</h1>
    <p>Components have always fascinated us. Bootstrap, Machine.io are some examples. Let's create one on our own.</p>

    <hr>

    <h2>@typography</h2>

    <h1>The biggest heading.</h1>
    <h2>The second biggest heading.</h2>
    <p>Normal text looks like this. This is a small paragraph.</p>
    <p>This paragraph will have a <strong>bold</strong> text.</p>
    <small>This is relatively smaller text.</small>

    <hr>

    <h2>@containers</h2>

    <h3>Fluid Container</h3>
    <div class="clib-container-fluid">This is a fluid container. This will grow till the end of the page.</div>

    <h3>Center Container</h3>
    <div class="clib-container clib-container-center">This is a center container. This will grow till the end of the
        specified width.</div>

    <hr>

    <h2>@links</h2>

    <a class="clib-link clib-link-primary" href="/">Primary Link</a>
    <a class="clib-link clib-link-secondary" href="/">Secondary Link</a>

    <hr>

    <h2>@lists</h2>

    <b>Unordered lists</b>
    <ul class="clib-list-non-bullet">
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
    </ul>

    <b>Unordered Inline lists</b>
    <ul class="clib-list-non-bullet clib-list-inline">
        <li>Inline Item One</li>
        <li>Inline Item Two</li>
        <li>Inline Item Three</li>
    </ul>

    <b>Reverse Order lists</b>
    <ol reversed>
        <li>Reverse Item One</li>
        <li>Reverse Item Two</li>
        <li>Reverse Item Three</li>
    </ol>

    <hr>

    <h2>@nav</h2>

    <nav class="clib-nav clib-container">
        <div class="clib-nav-logo">brandLogo</div>
        <ul class="clib-list-non-bullet clib-list-inline">
            <li>
                <a class="clib-nav-link clib-nav-link-active" href="/">Home</a>
            </li>
            <li>
                <a class="clib-nav-link" href="/projects.html">Projects</a>
            </li>
            <li>
                <a class="clib-nav-link" href="/">About</a>
            </li>
        </ul>
    </nav>

    <hr>

    <h2>@header</h2>

    <header class="clib-header">
        <img class="clib-header-image" src="/images/hero.svg" />
        <h1 class="clib-header-heading">Heading inside Hero; A bigger One; Does text wrap?</h1>
    </header>

    <hr>

    <h2>@section</h2>

    <section class="clib-section">
        <div class="clib-container-center">
            <h1>white section</h1>
            <p>GitHub is built for collaboration. Set up an organization to improve the way your team works together,
                and get access to more features.</p>
        </div>
    </section>

    <section class="clib-section clib-section-ow">
        <div class="clib-container-center">
            <h1>off-white section</h1>
            <p>Zoho Creator is a low-code application development platform that allows users to create custom
                applications on their own, with minimal coding experience. </p>
        </div>
    </section>

    <hr>

    <h2>@article</h2>

    <article class="clib-article">
        <span class="clib-article-heading">Jurassic Park</span>
        <section class="clib-article-section">
            <h3>Review</h3>
            <img class="clib-article-image" src="/images/dinosaur.png"/>
            <p class="clib-article-content">Dinos were great! Lucas, a 13-year-old boy, visits his grandmother's old house which is now set 'for sale'. There, while exploring bookshelf, he finds a crystal enclosed in a box. Amused, he takes it with him. The adventure begins when, in his plane, he moves the crystal onto the next empty seat and it shines. A disaster strikes the plane and Lucas finds himself stranded in a strange land littered with ghost ships and prehistoric creatures. While searching for other signs of life, Lucas hears a radio broadcast in the distance and is drawn into the jungle, where he encounters a beautiful young girl Kate, who claims to have come from the 1950s. He learns from her that Kate also used to possess a similar crystal like the one with Lucas. She gives him her diary which she denotes as ‘Survival Guide’ for Lucas.</p>

            <p class="clib-article-content">Dinos were great! Lucas, a 13-year-old boy, visits his grandmother's old house which is now set 'for sale'. There, while exploring bookshelf, he finds a crystal enclosed in a box. Amused, he takes it with him. The adventure begins when, in his plane, he moves the crystal onto the next empty seat and it shines. A disaster strikes the plane and Lucas finds himself stranded in a strange land littered with ghost ships and prehistoric creatures. While searching for other signs of life, Lucas hears a radio broadcast in the distance and is drawn into the jungle, where he encounters a beautiful young girl Kate, who claims to have come from the 1950s. He learns from her that Kate also used to possess a similar crystal like the one with Lucas. She gives him her diary which she denotes as ‘Survival Guide’ for Lucas.</p>
            
        </section>
    </article>

    <hr>

    <h2>@footer</h2>
    <footer class="clib-footer">
        <div class="clib-header">Some small heading inside footer</div>
        <ul class="clib-social-media clib-list-inline">
            <li><a class="clib-footer-link" href="/">Social Media One</a></li>
            <li><a class="clib-footer-link" href="/">Social Media Two</a></li>
            <li><a class="clib-footer-link" href="/">Social Media Three</a></li>
        </ul>
    </footer>
</body>

</html>